set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[CreateorAddtoGRNFromXML] @DOCXML XML
AS
BEGIN
	SET NOCOUNT ON;
DECLARE @VATRATE NUMERIC(6,2)
DECLARE @DEFAULTVATRATE NUMERIC(6,2)
DECLARE @COMPCODE VARCHAR(10)
DECLARE @COMPID INT
DECLARE @DOCCODE VARCHAR(20)
DECLARE @EAN VARCHAR(20)
DECLARE @hdoc INT   
DECLARE @PID UNIQUEIDENTIFIER
DECLARE @TRDOCCODE VARCHAR(15)
DECLARE @TRDOCDATE VARCHAR(25)
DECLARE @NEWTRID INT
DECLARE @XML XML
DECLARE @CMD VARCHAR(200)
DECLARE @RES INT
DECLARE @ERRMESS VARCHAR(1000)
DECLARE @strSTAFFID VARCHAR(5)
DECLARE @TPID INT
DECLARE @TRID  INT
DECLARE @PRICE INT
DECLARE @DEL TABLE 
(
	DEL_SupplierInvoice VARCHAR(50),  
	DEL_SupplierInvoiceDate DateTime  
)
DECLARE @DELL TABLE 
(
	DELL_EAN VARCHAR(20),
	DELL_Title VARCHAR(50),
	DELL_Price VARCHAR(20),
	DELL_TotalQtyReceived VARCHAR(20),
	DELL_Discount VARCHAR(20)
)
declare @$prog varchar(50), 
	@$errno int, 
	@$errmsg varchar(4000), 
	@$proc_section_nm varchar(50),
	@$row_cnt INT,
	@$error_db_name varchar(50), 
	@$CreateUserName varchar(128),   -- last user changed the data 
	@$CreateMachineName varchar(128), -- last machine changes-procedure were run from
	@$CreateSource varchar(128)		-- last process that made a changes

select @$errno = NULL,  @$errmsg = NULL,  @$proc_section_nm = NULL
	,  @$prog = LEFT(object_name(@@procid),50), @$row_cnt = NULL
	, @$error_db_name = db_name();


BEGIN TRY
----DECLARE @DOCXML XML
----SELECT @DOCXML = '<doc_SpecialOrderAddition><MessageType>SpecialOrderAddition</MessageType><MessageCreationDate>201003190842</MessageCreationDate><StaffMember>2</StaffMember><DetailLines><ITEM><PID>{B63F82FE-62C2-477B-A242-0F792E923D2B}</PID><CodeF>978-0-07-159158-4*</CodeF><Description> GREENSPAN''S BUBBLES - T</Description><Author></Author><Distributor></Distributor><Qtys/><Publisher></Publisher><LocalPrice>R.00</LocalPrice><EAN>9780071591584</EAN><Obsolete>False</Obsolete></ITEM></DetailLines></doc_SpecialOrderAddition>'

	    EXEC sp_xml_preparedocument @hdoc OUTPUT, @DOCXML


	    EXEC sp_xml_preparedocument @hdoc OUTPUT, @DOCXML
		INSERT INTO @DEL(DEL_SupplierInvoiceCode,DEL_SupplierInvoiceDate)
			SELECT x.DEL_SupplierInvoiceCode,x.DEL_SupplierInvoiceDate
			FROM OPENXML ( @hdoc, '/TRRoot/TR', 1 ) WITH (
				DEL_SupplierInvoiceCode VARCHAR(50),
				DEL_SupplierInvoiceDate VARCHAR(50)
				) AS x

		INSERT INTO @DELL(DELL_EAN,DELL_Title,DELL_Price,DELL_TotalQtyReceived,DELL_Discount)
			SELECT x.GRL_ProductCode,x.GRL_ShortTitle,x.GRL_Price,x.GRL_Ordered,.GRL_DiscountRate
			FROM OPENXML ( @hdoc, '/TRRoot/TR', 2 ) WITH (
					GRL_ProductCode VARCHAR(50) '@GRL_ProductCode',
					GRL_ShortTitle VARCHAR(50) '@GRL_ShortTitle',
					GRL_Price VARCHAR(50) '@GRL_Price',
					GRL_Ordered VARCHAR(50) '@GRL_Ordered',
					GRL_DiscountRate VARCHAR(50) '@GRL_DiscountRate'
				) AS x
		EXEC sp_xml_removedocument @hdoc



	SELECT @strSTAFFID = StaffMember FROM @DEL
	SELECT @TPID = ISNULL(TP_ID,0) FROM tTP WHERE TP_NAME = 'SPECIAL_ORDER_' +  @strSTAFFID

	--CREATE Special customer record if not exists
	IF ISNULL(@TPID,0) = 0 
	BEGIN
		INSERT INTO tTP (TP_NAME,TP_NOTE,TP_ROLE) VALUES ('SPECIAL_ORDER_' +  @strSTAFFID,'Special customer account for supervisor staff',3)
		SELECT @TPID = SCOPE_IDENTITY()
	END

	SELECT @TRID = ISNULL(TR_ID,0) FROM tTR JOIN tDEL ON TR_ID = DEL_ID JOIN tTP ON TR_TP_ID = TP_ID WHERE TP_ID = @TPID AND TR_STATUS = 2
	SELECT @DEFAULTVATRATE = CF_VATRATE,@COMPID =  CF_DEFAULTCOMPANYID,@COMPCODE = COMP_CODE
	FROM tCOMPANY JOIN tCONFIGURATION ON CF_DEFAULTCOMPANYID = COMP_ID

	IF ISNULL(@TRID,0) = 0
	BEGIN
		EXEC sp_GetNextCode 19,@DOCCode OUTPUT
		SELECT @DOCCode = ISNULL(@COMPCODE,'') + 'CSP' + @DOCCode

		INSERT INTO tTR (TR_COMP_ID,TR_CODE,TR_DATE,TR_CAPTUREDATE,TR_TP_ID,TR_STATUS,TR_TYPE,TR_NOTE) 
		VALUES (@COMPID,@DOCCode,GETDATE(),GetDate(),@TPID,2,1, 'Special supervisor''s order')

		SELECT @TRID = SCOPE_IDENTITY()

		INSERT INTO tDEL (TR_ID) 
		VALUES (@TRID)
	END

	DECLARE cur CURSOR FOR
	SELECT PID FROM @DELL
	OPEN cur
	FETCH NEXT FROM cur INTO @PID
	WHILE @@FETCH_STATUS = 0
	BEGIN
		SELECT  @VATRATE = P_VATRATE,@PRICE = P_RRP FROM tPRODUCT WHERE P_ID = @PID
		INSERT INTO tCOL (DELL_TR_ID,DELL_P_ID,DELL_QTY,DELL_QTYFIRM,DELL_FULFILLED,DELL_PRICE) 
			VALUES	(@TRID,@PID,1,1,'OS',@PRICE)
		FETCH NEXT FROM cur INTO @PID
	END
	CLOSE cur
	DEALLOCATE cur




END TRY
BEGIN CATCH
set @$errmsg = Left('Error ' +
		CASE
			WHEN @$errno > 0 THEN CAST(@$errno as varchar)
			ELSE Cast(ERROR_NUMBER() as varchar)
		END + 'in proc ' + isnull(@$prog,' ') + ' ' + 
		CASE 
			WHEN @$errno > 0 THEN isnull(@$errmsg,' ') 
			ELSE isnull(@$errmsg,' ') + ISNULL(ERROR_MESSAGE(),'')
		END ,4000);

raiserror (@$errmsg, 16, 1); 

--EXEC dbo.ERROR_LOG_2005 @ERROR_LOG_PROGRAM_NM  = @$prog,  
--		@ERROR_LOG_PROGRAM_SECTION_NM  = @$proc_section_nm,
--		@ERROR_LOG_ERROR_NO  = @$errno,  
--		@ERROR_LOG_ERROR_DSC  = @$errmsg,
--		@ERROR_DB_NAME  = @$error_db_name
		-- set the error if not set
		declare @t VARCHAR(1000)
		select @T = @$prog + '/' + @$proc_section_nm
		EXEC dbo.SAVELog @$errmsg ,@t,NULL,NULL






--	IF @@TRANCOUNT > 0
--		ROLLBACK TRAN
--	DECLARE @ErrorString NVARCHAR(4000)
--	IF ERROR_PROCEDURE() <> OBJECT_NAME(@@PROCID)
--		SELECT @ErrorString = ERROR_MESSAGE();
--	ELSE
--		SELECT @ErrorString = 'Error Message: ' + ERROR_MESSAGE() + ', Error Procedure: ' + RTRIM(CONVERT(CHAR,ERROR_PROCEDURE())) + ', Error Line: ' + RTRIM(CONVERT(Char,ERROR_LINE ()));
--	RAISERROR (@ErrorString, 16,1)
--	--Update the log with error message
--	INSERT INTO _tSBLog (SBL_Msg,SBL_Proc) VALUES (LEFT('Pos 2: ' + LEFT(@ErrorString,500),600),'trigQtyOHChange')
END CATCH











END




RETURN

