 
CREATE TABLE [dbo].[tAD] (
	[AD_Type] [varchar] (5) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[AD_Agent] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AD_Grower] [varchar] (8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AD_Entity] [varchar] (5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AD_StatementDate] [char] (7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AD_StatementRef] [char] (6) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AD_chpType] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AD_Description] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AD_Reference2] [varchar] (6) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AD_CNote] [varchar] (8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AD_Qty] [int] NULL ,
	[AD_FinRate] [numeric](18, 7) NULL ,
	[AD_Amt] [numeric](18, 7) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[tGD] (
	[GD_Type] [varchar] (5) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[GD_Agent] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[GD_Grower] [varchar] (8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[GD_Entity] [varchar] (5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[GD_Date] [char] (7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[GD_StatementNum] [char] (6) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[GD_Year] [char] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[GD_StatementDate] [char] (7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[GD_PmtCur] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[GD_AdvCur] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[GD_Date2] [char] (7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[GD_CNote] [varchar] (8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[GD_Variety] [varchar] (5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[GD_Pack] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[GD_Grade] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[GD_Brand] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[GD_Count] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[GD_Qty] [int] NULL ,
	[GD_AdvRate] [numeric](12, 8) NULL ,
	[GD_AdvAmt] [numeric](18, 7) NULL ,
	[GD_CurAmt] [numeric](18, 7) NULL ,
	[GD_ExcRate] [numeric](18, 7) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[tLD] (
	[LD_RecordType] [int] NULL ,
	[LD_Agent] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LD_Grower] [varchar] (8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LD_Entity] [varchar] (5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LD_StatementDate] [char] (7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LD_StatementNum] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LD_Variety] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LD_PmtReference] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LD_EntityType] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LD_EntryDate] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LD_Description] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LD_StatementRef] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LD_Qty] [int] NULL ,
	[LD_Amt] [numeric](18, 7) NULL ,
	[LD_BalanceOpen] [numeric](18, 7) NULL ,
	[LD_BalanceClose] [numeric](18, 7) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[tPD] (
	[PD_Type] [varchar] (5) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PD_Agent] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PD_Grower] [varchar] (8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PD_Entity] [varchar] (5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PD_StatementDate] [char] (7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PD_StatementRef] [char] (6) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PD_RecordType] [int] NULL ,
	[PD_Reference] [varchar] (5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PD_Variety] [varchar] (3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PD_Pack] [varchar] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PD_Brand] [varchar] (5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PD_Grade] [varchar] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PD_Count] [varchar] (5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PD_CNote] [varchar] (8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PD_Qty] [int] NULL ,
	[PD_FinRate] [numeric](18, 7) NULL ,
	[PD_Amt] [numeric](18, 7) NULL ,
	[PD_CurAmt] [numeric](18, 7) NULL ,
	[PD_FinalExchangeRate] [numeric](18, 7) NULL ,
	[PD_Multiplier] [char] (1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PD_Date2] [char] (7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PD_AdvStmNum] [char] (6) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PD_AdvRecAmt] [numeric](18, 7) NULL ,
	[PD_AdvRecCur] [numeric](18, 7) NULL ,
	[PD_AdvDate] [char] (7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]
GO

