<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" internalLogFile="c:\PBKS\Errors.Errnlog" internalLogLevel="Trace" internalLogToConsole="true">
    <targets>
      <!--<target name="logfile" xsi:type="File" layout="${longdate} ${logger} ${message} ${exception:format=message,stacktrace:separator=*}" fileName="${basedir}/logs/logfile.txt" keepFileOpen="false" encoding="iso-8859-2"/>-->
      <target name="logfile" xsi:type="File" layout="${longdate} ${logger} ${message} ${exception:format=message,stacktrace:separator=*}" fileName="C:\PBKS\Executables\logfile.txt" keepFileOpen="false" encoding="iso-8859-2"/>
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" writeTo="logfile"/>
    </rules>
  </nlog>
  <connectionStrings>
    <add name="PBKS" connectionString="data Source=.\PBKS;Initial Catalog=PBKS;User Id=sa;Password=car; Connection Timeout=45" providerName="System.Data.SQLClient"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
