<?xml version="1.0" encoding="utf-8" ?>

<!-- This file is an extension of the application web.config file. The root element must be <connectionStrings>.-->
<connectionStrings>

  <add name="Nuru"  connectionString="Data Source=bellicsql.aserv.co.za,1434;Initial Catalog=papyrvdo_papyrusservices;User Id=papyrvdo_dbuser;Password=huv33sTs;"
          providerName="System.Dada.SqlClient"/>
</connectionStrings>