<?xml version="1.0" encoding="utf-8" ?>

<!-- This file is an extension of the application web.config file. The root element must be <connectionStrings>.-->
<connectionStrings>

  <add name="Nuru"  connectionString="Data Source=hds-036.hichina.com;Initial Catalog=hds0360405_db;User Id=hds0360405;Password=Nuru12345;"
          providerName="System.Dada.SqlClient"/>
</connectionStrings>